<h1><%= @passenger.name %>'s profile</h1>
  <%= link_to "Add flight", "/passengers/#{@passenger.id}/new_flight" %>

<section class="flights">
  <% @passenger.flights.each do |flight|%>
    <%= link_to flight.number , "/flights/#{flight.id}" %>
  <% end %>
</section>
